* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  height: 100vh;
  background-color: #0e1111;
}
.bg-grad {
  width: 100%;
  border-radius: 0px 0px 100px 100px;
  border: rgb(36, 36, 36) 2px solid;
  background: linear-gradient(
    180deg,
    #434343,
    #000000,
    black 145%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
:root {
  --textColorMain: rgb(201, 195, 195);
  --TranitionMain: 0.7s;
  --colorSecitionBorder: rgb(36, 36, 36);
}
@font-face {
  font-family: one;
  src: url(../Font/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: two;
  src: url(../Font/neuropolitical\ rg.otf);
}
@font-face {
  font-family: three;
  src: url(../Font/UndergroundNF.ttf);
}
@font-face {
  font-family: four;
  src: url(../Font/UndergroundNF.ttf);
}
.box-gradint {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 100px 125px 28px 73px;
  filter: contrast(260%) brightness(1050%);
  background: linear-gradient(137deg, rgba(0, 0, 67, 1), rgba(142, 0, 49, 0.48)),
    linear-gradient(60deg, rgba(0, 212, 214, 0.92), rgba(109, 5, 5, 0.23)),
    radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1), rgba(253, 246, 52, 1)),
    conic-gradient(from 0deg at 50% 50%, rgba(65, 65, 65, 1), rgba(0, 0, 0, 0)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
/* Start Framework */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gap10 {
  gap: 10px;
}
.gap15 {
  gap: 15px;
}
.gap20 {
  gap: 20px;
}
/* End Framework */
/* Start container  */
.contener {
  padding: 0px 15px;
  margin: 0px auto !important;
  /* background-color: aqua; */
}
/* Small Screen */
@media (min-width: 768px) {
  .contener {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .contener {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .contener {
    width: 1170px;
  }
}

/* End container  */

/* Start Header  */
@font-face {
  font-family: myfont;
  src: url(../Font/neuropolitical\ rg.otf);
}
header {
  padding-top: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: rgb(201, 195, 195);
}
header .lift .copy {
  border-radius: 25px;
  padding: 6px 9px;
}

header .lift .copy p {
  font-size: 12px;
  font-family: "Playfair Display", serif;
}
header .lift .copy p::selection {
  background-color: transparent;
}
header .lift .copy button {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  border: none;
  width: 90px;
  padding: 10px;
  cursor: pointer;
  border-radius: 13px 20px;
  background-color: #434343;
  color: rgb(201, 195, 195);
}

header .right {
  gap: 30px;
}
header .right .link {
  transition: 0.7s;
  position: relative;
  width: 70px;
  text-align: center;
  cursor: pointer;
}
header .right .link::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  background-color: #ababab;
  height: 5px;
  width: 0px;
  border-radius: 6px;
  transition: 0.7s;
}
header .right .link:hover::after {
  width: 100%;
}
header .right .link a {
  color: rgb(201, 195, 195);
  text-decoration: none;
}
/* End Header  */
/* Start Mobile Header */
.email {
  display: none;
  transition: 0.7s;
}
.email button {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  border: none;
  width: 90px;
  padding: 10px;
  cursor: pointer;
  border-radius: 13px 20px;
  background-color: #434343;
  color: rgb(201, 195, 195);
}
.email button a {
  color: rgb(201, 195, 195);
  text-decoration: none;
}
.right-two {
  display: none;
}
.right-two a {
  color: var(--textColorMain);
  font-size: 20px;
  text-align: center;
  width: 42px;
  height: 42px;
  padding: 3px;
  border-radius: 50%;
  background-color: rgb(37 37 37);
  transition: 0.7s;
  position: relative;
  &:hover {
    background-color: black;
  }
}
.right-two a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (width < 650px) {
  .copy {
    display: none;
  }
  .email {
    display: block;
  }
  .right {
    display: none;
  }
  .right-two {
    display: flex;
  }
}
/* End Mobile Header */

/* Start Landing Page || Main Secition */
main {
  height: calc(100vh - 108px);
  height: 100vh;
}
main .contener {
  gap: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
main .box-gradint {
  width: 200px;
  height: 200px;
  margin: 0;
  inset: 0;
}
main .text {
  text-align: center;
  width: 70%;
}
main .text h1 {
  font-family: "Archivo Black", sans-serif;
  color: var(--textColorMain);
  margin: 0 auto;
}
@media (width < 750px) {
  main .text {
    width: 100%;
  }
  main .text h1 {
    font-size: 25px;
  }
}
main .text button {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  border: none;
  padding: 15px 10px;
  width: 125px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 20px;
  background-color: black;
  color: wheat;
  box-shadow: 0px 2px 10px #515151;
}
main .text button a {
  text-decoration: none;
  color: wheat;
  box-shadow: 0px 2px 10px #515151;
}
/* End   Landing Page || Main Secition */
/* Start Line */
.line {
  background: linear-gradient(180deg, #0e1111 0%, #fff 20%);
  padding: 30px 5px;
  margin: 30px 0px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    transparent,
    white 180%
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.slide {
  display: inline-block;
  animation: tape 25s linear infinite;
}
.line .slide img {
  height: 60px;
  margin: 0 2rem;
  cursor: pointer;
}
.line:hover .slide {
  animation-play-state: paused;
}
@keyframes tape {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* End Line */
